<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Contoso University</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/site.css" th:href="@{/css/site.css}" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">Contoso University</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/students">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Instructors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Departments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div layout:fragment="content"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; <span th:text="${#dates.format(#execInfo.now.time, 'yyyy')}"></span> - Contoso University
        </div>
    </footer>

    <script src="/webjars/jquery/3.4.1/jquery.min.js" th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>